<%= render "shared/second-header"%>

    <%= form_with class: 'registration-main', model: @calc, url:calcs_path(@age),local: true do |f| %>
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          Kcal計算
        </h1>
      </div>

      <div class="form-group"'>
         <div class="weight-bold-text question-text">
          <label class="form-text">本日の日付</label>
         </div>
      </div>
      <div class="form-group">
       <%= f.text_field :record ,value: Date.today%>
       </div>
      
      <div class="form-group">
        <div class="weight-bold-text question-text">
              <div class="form-text">あなたの現在にの年齢は<br>
              <%= link_to "#{@age} 歳です。"%>
              </div>
        </div>
         <br>
      
        <div class='form-text-wrap'>
          <label class="form-text">今回の摂取kcak</label>
          <span class="indispensable">必須</span>
        </div>

        <div class="field">
          <br>
          <%= f.text_field :plus ,id:"plus"%>
        </div>

          <div class='form-text-wrap'>
            <label class="form-text">今回の消費kcal</label>
            <span class="indispensable">必須</span>
          </div>

        <div class="field">
          <br>
          <%= f.text_field :minus ,id:"minus"%>
        </div>
      

          <div class="price-content">
              <span>あなたの基礎代謝は</span>
              <span>
                <br>
                <%= link_to number_with_precision(@bmr,precision: 2),id="total"%>kcalです。
                <br>
              <span>本日の消費カロリーは</span>
                  
                  <span id="result"></span>
                  <br>kcalです。
              </span>
          </div>
      
      </div>

      <div class='login-btn'>
        <%= f.submit "保存する" ,class:"login-red-btn" %>
      </div>

      
<% end %>


<%# <%= render "devise/shared/links" %> 
<%# <%= render "shared/second-footer"%> 


