<%= render "shared/second-header"%>

  
<h1>Calcs Chart</h1>
<%= line_chart @calcs_data %>
<%= pie_chart  @calcs_data %>
<%= column_chart @calcs_data  %>
<%= bar_chart @calcs_data  %>
<%= area_chart @calcs_data %>
<%= scatter_chart @calcs_data %>
<%# <%= line_chart @calcs_data, xtitle: 'Record', ytitle: 'Total', library: { title: { text: 'Calcs Chart' } } %>

<%# <%= line_chart @calcs_data.map { |data| { name: data[0].strftime("%Y-%m-%d"), data: data[1] } }, library: { title: { text: 'Calcs Chart' } } %>
<%# <%= line_chart @calcs_data.map { |data| [data[0].strftime("%Y-%m-%d"), data[1]] }, library: { title: { text: 'Calcs Chart' } } %>